fastapi
uvicorn
streamlit
requests
pydantic
python-dotenv

langchain
langchain_tavily
langchain-community
langchain-experimental
langchain_groq
langchain_openai
langgraph
langchain-google-community
langchain-google-community[places]

scikit-learn
googlemaps
python-docx
deep-translator
gTTS

sentence-transformers
groq
